<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div id ='nav'>
		<h1 class='title'>Bratton's House</h1>	
		<div id="menu">
			<ul>
				<li><a id='what' class='active' href="#">what</a></li>
			    <li><a id='research' href="#">why</a></li>
			    <li><a id='documentation' href="#">documentation</a></li>
			    <li><a id='thanks' href="#">thanks</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<!-- what -->
		<div class="wrapper show what">
			<p>
				Bratton's House is a protest against the expanding surveillance state and its corrosive effect on free speech. <span class='red'>Tweet at @brattonsHouse to send Commisioner Bratton a photograph of his own house taken in real-time.</span>
			</p>
			<p>
				Bratton's House uses a raspberry pi to take photographs of the commissioner's house and send them via GSM to a remote server.  Photographs are then tweeted to @commissBratton.
			</p>
			<p><a href="https://twitter.com/brattonshouse">@BrattonsHouse</a></p>
			<p><a href="https://twitter.com/brattonshouse">@commissBratton</a></p>
			<p><span class=''>contact brattoncam@gmail.com for more information</span></p>
		


		</div>
		<!--  research -->
		<div class="wrapper documentation">
			<p>All code is open source and on <a href="https://github.com/dmehrotra/brattonCam">github</a>.</p>
			<p><a href="http://dmehrotra.github.io/components/">Components</a></p>
			<p><a href="http://dmehrotra.github.io/setup/">Setup</a></p>
			<p><a href="http://dmehrotra.github.io/api-and-stream/">Code Walkthrough</a></p>
		</div>
		<!--  documentation -->
		<div class="wrapper research">
				<p>Bill Bratton is the current New York City Police Commissioner.  He is known for his data driven approach to law enforcement.</p>
				<p>Bratton <a href="http://www.dhs.gov/homeland-security-advisory-council-members">serves as an advisor</a> to the Department of Homeland Security along with the CEOs of various private security contractors like Booz Allen. This is <a href="https://www.fema.gov/fiscal-year-2015-homeland-security-grant-program ">significant</a> because the DHS alone has awarded more than $38 billion in grants for various police departments to <a href="http://www.nytimes.com/interactive/2014/08/23/us/flow-of-money-and-equipment-to-local-police.html">buy domestic spying equipment and military technology.</a> Many times this technology is often supplied by corporations who Bratton has worked for or closely with. Eg. <a href="http://www.sec.gov/Archives/edgar/data/68505/000110465910060618/a10-22005_1ex99d2.htm">Motorola</a>, <a href="https://en.wikipedia.org/wiki/Altegrity_Risk_International">Kroll</a>, <a href="http://www.predpol.com/">PredPol</a>.</p></p>
				<p>
				
				By leveraging U.A.S.I grants and <a href="http://gothamist.com/2015/01/29/nypd_machine_guns.php">terrorism concerns</a> to purchase and deploy tools like <a href="http://www.laweekly.com/news/game-of-drones-how-lapd-quietly-acquired-the-spy-birds-shunned-by-seattle-4794894">drones</a>, <a href="http://www.laweekly.com/news/lapd-spied-on-21-using-stingray-anti-terrorism-tool-2612739">sting rays</a>, <a href="">automatic liscence plate readers</a>, <a href="http://www.theatlantic.com/politics/archive/2015/10/the-nypd-is-using-mobile-x-rays-to-spy-on-unknown-targets/411181/">X-ray Vans</a> and other military grade equipment, Bratton has adopted new surveillance technology without permission or real oversite.
				</p>

				<p>This technology encourages police officers to view everyone with suspicion and furthers the <a href="http://fusion.net/story/41646/nyc-mayor-backs-plan-to-arm-350-cops-with-high-tech-anti-terror-weapons/">repressive tendencies</a> of state and local police. Under Bratton every-day citizens are treated like <a href="http://fusion.net/story/41646/nyc-mayor-backs-plan-to-arm-350-cops-with-high-tech-anti-terror-weapons/">insurgents</a>.</p>

				<p>
				In 2008 Bratton and a team of researchers developed proprietary software called <a href="http://www.predpol.com/">PredPol</a>, a domestic intelligence gathering product. The software is based on predictive algorithms that are used to track insurgent activity in Iraq.  
				</p>

				<p>
				 Bratton, was the first commissioner to adopt the Nationwide Suspicious Activity Reporting Initiative. Suspicious Activity Reports, in theory are a means for reporting behavior that are considered <a href="https://nsi.ncirc.gov/about_nsi.aspx?AspxAutoDetectCookieSupport=1">“preoperational planning related to terrorism or other criminal activity.”</a>. However in practice these reports often disproportionately target <a href="http://www.npr.org/2013/09/19/223721407/aclu-posts-suspicious-activity-reports-online">muslim males</a> who engage in such dubious behavior as <a href="">“ordering food at a restaurant . . . without eating”</a>. 
				</p>
				<p>
					Though Bratton disbanded the demographics unit, his "data driven policing" has resulted in the <a href="http://www.nytimes.com/2014/05/11/nyregion/new-york-police-recruit-muslims-to-be-informers.html">targeting of Muslim groups</a> by deploying informants and under cover officers to spy on law-abiding citizens. 
				</p>
			</div>
		<!-- thanks -->
		<div class="wrapper thanks">
			<p>
				This project wouldn't be possible without the help of Benedetta Piantella, Edward and <a href="http://www.isabel-donlon.com/">Isabel Donlon</a>, <a href="http://www.artdelicorp.com/2015/09/15/36/">Melanie Hoff</a>, <a href="http://lav.io/">Sam Lavigne</a>, and Aaron Parsekian.
			</p>

			<p>

			</p>
		</div>
	</div>	
	<!-- someth -->
	<!-- pushing back, corpotions don't have the power that the state has.  google can't detain you at the border. -->
	<!-- military-industrial-surveillance complex -->
	<!-- // 'disorder control and counterterrorism protection capabilities" -->
	<!-- This new squad will be used to investigate and combat terrorist plots, lone wolf terrorists, and... protests.  Cops will know their sectors and the citizens will know them-->
	<!-- “When government surveillance chills people from expressing their First Amendment rights, then we have a constitutional problem, -->
	<!-- providing situational awareness” -->
	<!-- https://www.documentcloud.org/documents/2287877-mta-blm-lasalle.html -->
	<script>
		$(document).ready(function(){
			$('#menu ul li a').on('click',function(e){
				var id = e.target.id;
				$('#menu ul li a').removeClass('active');
				$(e.target).addClass('active');
				$('.wrapper').removeClass('show');
				$("."+e.target.id).addClass('show');
			
			});
		})
	</script>
</body>

</html>